.review{
    background: url(./../../assets/images/banner1.jpg);
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;
}
.review-title{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.proceed-review form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.proceed-review form input,textarea{
    width: 40%;
    color: white;
    background: none;
    margin-bottom: 20px;
    padding: 7px;
    border: 2px solid #02A0DB;
    border-radius: 5px;
}
.review_btn{
    margin-top: 20px;
    color: white;
    background-color: #02A0DB !important;
}