.dashboard{
    margin-top: 80px;
}
.dashboard h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0;
    align-items: center;
    color: white;
    background-color: #314051;
}
