.nav_bar{
    border-bottom: 1px solid #c0c0c0;
    background-color: #FFFFFF !important;
}
.nav_brand{
    display: flex;
    align-items: center;
}
.menu-items a{
    color: black !important;
    font-size: 22px;
    transition: 0.5s;
}
.menu-items a:hover{
    color: #ee1729 !important;
    background-color: #88dfff;
    font-size: 22px;
    border-radius: 10px;
}

a.login_btn{
    background-color: #494848;
    border-radius: 10px;
    color: white !important;
    margin-left: 20px;
}

.display_name{
    color: black !important;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}
.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}