.banner_img{
    opacity: 0.4;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    width: 70%;
    text-align: center;
}
.banner-text h1{
    font-size: 54px;
    font-weight: 600;
    margin: 20px 0;
    margin-top: 100px;
}
.banner-text p{
    color: lightgray !important;
    font-size: 20px;
    font-weight: 500;
}